@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');
@import url("https://use.typekit.net/cmm2yxs.css");
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

html{
    background-color: #FFFFFF;
    color: #303A2B;
    font-size: 1rem;
    font-style: normal;
    font-family: 'basic-sans', 'sans-serif', 'arial', 'verdana';
    font-weight: 400;
}
body{
    background-image: url(assets/top_design.svg);
    background-repeat: no-repeat;
    background-position: top center;
    
}

p{
    margin-bottom: 1rem;
}

/*layout and spacing*/

main, header{
    padding: 1rem 2rem 1rem 2rem;
    max-width: 37.375rem;
    margin: auto;
}

p{
    margin-bottom: 1rem;
}

.table {
    margin-left: 2rem;
    font-style: italic;
}

/*typography*/

main{
    padding: 1rem 2rem 1rem 2rem;
    max-width: 38rem;
    margin: 1rem auto;
}

h2{
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Bayon', 'serif', 'georgia', 'Times New Roman';
    color: #6E9887;
    line-height: 1.2em;
    font-style: normal;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
    text-transform: uppercase;
    
}

h3{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Basic-sans', 'serif', 'georgia', 'Times New Roman';
    color: #BA5526;
    line-height: 1.2em;
    font-style: italic;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
}


dt{
    font-weight: 700;
}

ul{
    list-style-type: none;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.2em;
    
}

.tagline{
    font-style: italic;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: -1rem;
}

.topspace{
    margin-top: -1rem;
}

/*design*/

footer{
    background-color: #BA5526;
    text-align:center;
    padding: 2rem;
    

}

.logo{
    margin-top: 4rem;
}

.toc{
   max-width: fit-content;
   align-items: center;
}

/*links*/ 

nav a:link{
    text-decoration: none;
    color:#BA5526;
 }

 nav a:visited{
    color: #BA5526;
    
 }

 nav a:hover{
    color:#BA5526;
    font-weight: 1000;
 }

 nav a:focus{
   outline: #BA5526 solid;
 }

 nav a:active{
    border-bottom: 2px solid;
 }

 a:link{
    color:#303A2B;

    
 }

 a:visited{
    color: #303A2B;
    
 }

 a:hover{
    color:#BA5526;
    font-weight: 1000;
 }

 a:focus{
   outline: #BA5526 solid;
 }

 a:active{
    border-bottom: 2px solid;
 }


 /*media queries*/


@media screen and (min-width: 62rem){
    html{ 
        font-size: 1.1rem;

    }
    .logo1{
        margin-top: 3rem;
    }
  
}
  

@media screen and (min-width:80rem) {
    html{
        font-size: 1.2rem;
     }

    }

@media screen and (min-width: 85rem) {
    html{
        font-size: 1.3rem;
    }

    .light{
        display: grid;
        grid-template-columns:  30% 30% 30%;
        grid-gap: 1rem;
    }

    .plants{
        display: grid;
        grid-template-columns:  30% 30% 30%;
        grid-gap: 1rem;
    }

    .intro{
        display: grid;
        grid-template-columns: 80% 20%;
        margin-bottom: 3.5rem;
        grid-gap: 1rem;
        grid-column: 2/2;
    }

    .introheading{
        grid-column: 1/2;
    }
   

}
